decors/fish-ghq
djorgebucaran/fish-bax
jethrokuan/fzf
0rax/fish-bd
edc/bass
reitzig/sdkman-for-fish
halostatue/fish-haskell
oh-my-fish/theme-bobthefish
oh-my-fish/plugin-peco
nickeb96/puffer-fish
jorgebucaran/autopair.fish
